<!-- Start Page Breadcrumb -->
<section class="hj-breadcrumb bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="font-28 font-roboto fw-bold mb-0">Administration</h3>
        </div>
        <div class="col-md-6">
          <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins" [routerLink]="'/admin/dashboard'">Adminnistration</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>
    <!-- End Page Breadcrumb -->

<!-- Start Dashboard -->
<section class="hj-faq-section mx-2 my-5">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-3">
                <app-navbar></app-navbar>
            </div>
            <div class="col-lg-9">
                <div class="row gy-4">
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total utilisateurs</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">50</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total commandes</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">50</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total articles</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">50</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total categories</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">50</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 gy-4">
                    <div class="col-12">
                        <input type="text" class="form-control form-control-lg font-16" placeholder="Rechercher" />
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-borderless text-center">
                                <thead class="table-dark">
                                    <tr class="border-bottom ">
                                        <th class="text-start ps-3">Client</th>
                                        <th>Telephone</th>
                                        <th>Article</th>
                                        <th>Montant</th>
                                        <th class="text-end pe-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="align-middle">
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Dashboard -->
