<div class="row">
  <div *ngFor="let article of articles" class="col-sm-6 col-md-4 col-lg-3 p-3 hj-product-item">
      <div class="hj-product-card card">
        <div class="hj-product-img overflow-hidden cursor-pointer position-relative bg-dark">
          <img [src]="article.image" class="img-fluid w-100" style="height: 350px;" alt="product" />
          <div class="hj-product-action-btn position-absolute top-50 start-50 translate-middle">
            <a (click)="addToCart(article)" class="px-3 py-2 me-2 bg-white dark-text font-18 d-inline-block hover-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
            </a>
            <a [routerLink]="['/articles', article._id]" class="px-3 py-2 bg-white dark-text font-18 d-inline-block hover-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </a>
          </div>
        </div>
        <div class="hj-product-info bg-white p-3">
          <a [routerLink]="['/articles', article._id]" class="font-16 text-decoration-none text-black link-hover font-roboto cursor-pointer">
            {{ article.name }}
          </a>
          <div class="hj-product-price mt-2">
              <span class="primary-text font-16 fw-bold">{{ article.prix }} FCFA</span>
          </div>
        </div>
      </div>
  </div>
  <div *ngIf="loading"  class="text-center my-5">
    <div class="spinner-grow primary-text" style="width: 5rem; height: 5rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

    <div *ngIf="articles.length == 0"  >
      <div class="alert alert-info shadow-sm text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
              <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
              <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
          </svg> 
          <div class="mt-2">
              La liste des articles est vide
          </div> 
      </div>
  </div>
</div>



