<!-- Start Slider -->
<section class="hj-slider-section">
  <div class="hj-slider-item" style="background-image: url(assets/img/bgImg.jpg) ;height: 100vh;">
    <div class="carousel-caption text-start">
      <h2 class="font-20 dark-text font-poppins fw-light mb-0">Make your place a better Living</h2>
      <h1 class="font-60 dark-text font-roboto my-2 fw-bold">
        Welcome to ARTmobilier
      </h1>
      <a href="#" class="hj-primary-btn d-inline-block mt-1">shop now</a>
    </div>
  </div>
</section>
<!-- End Slider -->

<!-- Shop Banner Section -->
<section id="hj_shop_banner_section" class="mt-5 pt-md-5 hj-shop-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-md-6">
            <div class="hj-shop-banner-inner py-3 position-relative overflow-hidden">
              <img src="assets/img/chair.jpg" class="img-fluid float-end w-100" alt="Banner" />
              <div class="clearfix"></div>
              <div class="hj-banner-info position-absolute">
                <h2 class="font-roboto font-32 my-2 fw-bold text-dark">New Arrivals</h2>
                <a href="#" class="hj-primary-btn d-inline-block mt-1">shop now</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="hj-shop-banner-inner py-3 position-relative overflow-hidden">
              <img src="assets/img/sofa2.jpg" class="img-fluid float-start w-100" alt="Banner" />
              <div class="clearfix"></div>
              <div class="hj-banner-info position-absolute">
                <h2 class="font-roboto font-32 fw-bold text-dark">our Sofas</h2>
                <a href="#" class="hj-primary-btn d-inline-block mt-1">shop now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Section -->

<!-- Start Exclusive Products -->
<section class="my-5 pb-5 hj-exclusive-product-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="font-32 mb-5 dark-text text-center font-roboto fw-bold">OUR ARTICLES</h2>
      </div>
    </div>
    <app-products></app-products>
  </div>
  <!-- !Products carousel -->
</section>
<!-- End Exclusive Products -->




<!-- End Tranding offer banner -->

<!-- Start Testimonial -->
<div class="testimonial">
  <div class="small-container">
    <div div class="row">
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          "I had a fantastic experience with ArtMobilier. The diverse range of products, clear descriptions, and speedy
          delivery made shopping on their site a delight. Highly recommend for anyone looking to enhance their living."
          space!
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div> <br>
        <h3 style="color: #e79677;">Khadija Ben Ali</h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          "Exceptional service from ArtMobilier! The quality of the products, attractive promotions, and easy ordering
          process left me a satisfied customer. Will definitely be coming back for more."
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div><br>
        <h3 style="color: #e79677;">Yasmina Attia
        </h3>
      </div>
      <div class="col-3">
        <i class="fa fa-quote-left"></i>
        <p>
          "Outstanding experience with ArtMobilier! The wide selection, clear product descriptions, and swift delivery
          exceeded my expectations. Thank you for making my purchase hassle-free. Highly recommended!"
        </p>
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star-o"></i>
        </div><br>
        <h3 style="color: #e79677;">Wajd Mahdaoui</h3>
      </div>
    </div>
  </div>
</div>
<!-- End Testimonial -->

<!-- Start Services -->
<div class="hj-services-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 border-end">
        <div class="hj-service-info text-center">
          <span class="font-40 secondary-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-truck"
              viewBox="0 0 16 16">
              <path
                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
            </svg>
          </span>
          <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">Free Shipping</h3>
          <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">Experience the joy of complimentary shipping!
            Our commitment to providing free delivery is a testament to our dedication to your satisfaction and
            confidence in our products</p>
        </div>
      </div>
      <div class="col-md-4 border-end">
        <div class="hj-service-info text-center">
          <span class="font-40 secondary-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
              class="bi bi-arrow-down-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M2 13.5a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1H3.707L13.854 2.854a.5.5 0 0 0-.708-.708L3 12.293V7.5a.5.5 0 0 0-1 0v6z" />
            </svg>
          </span>
          <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">30-Day Returns</h3>
          <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">Shop with peace of mind knowing you have 30
            days to return your purchase.
            Our generous return policy is designed to build your trust and confidence in the quality of our products</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hj-service-info text-center">
          <span class="font-40 secondary-text">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-headset"
              viewBox="0 0 16 16">
              <path
                d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
            </svg>
          </span>
          <h3 class="font-20 font-roboto dark-text text-capitalize mt-2">24/7 Support</h3>
          <p class="font-16 font-poppins secondary-text w-75 mx-auto mt-2">We're here for you 24/7! Our continuous
            support is your assurance of unwavering assistance whenever you need it.
            Trust in our commitment to providing excellent service around the clock</p>
        </div>
      </div>
    </div>
  </div>
</div>