<!-- Start Page Breadcrumb -->
<section class="hj-breadcrumb bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="font-28 font-roboto fw-bold mb-0">Administration</h3>
        </div>
        <div class="col-md-6">
          <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins" [routerLink]="'/admin/dashboard'">Adminnistration</a></li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>
    <!-- End Page Breadcrumb -->

<!-- Start Dashboard -->
<section class="hj-faq-section mx-2 my-5">
    <div class="container-fluid">
        <div class="row gy-5">
            <div class="col-lg-3">
                <app-navbar></app-navbar>
            </div>
            <div class="col-lg-9">
                <div class="row gy-4">
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total vitiseurs</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">{{ countAdmins }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total /administreurs</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">{{ countVisiteurs }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total articles</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">{{ countArticle }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="card rounded-3 border-2 text-center p-4">
                            <h3 class="font-16 fw-600 font-poppins dark-text text-uppercase mb-3">Total categories</h3>
                            <p class="font-poppins fs-4 primary-text fs-bold">{{ countCategorie }}</p>
                        </div>
                    </div>
                </div>

                <!-- <div class="row mt-4 gy-4">
                    <div class="col-12">
                        <input type="text" class="form-control form-control-lg font-16" placeholder="Rechercher" />
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-borderless text-center">
                                <thead class="table-dark">
                                    <tr class="border-bottom ">
                                        <th class="text-start ps-3">Time</th>
                                        <th>Agent</th>
                                        <th>Customer</th>
                                        <th>Location</th>
                                        <th class="text-end pe-3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="align-middle">
                                        <td class="text-start ps-3">
                                            <span class="fs-bold">Tomorrow</span>
                                        </td>
                                        <td>
                                            <div class="d-flex flex-row align-items-center"> 
                                                <img src="https://i.imgur.com/ZSkeqnd.jpg" width="50" class="rounded-circle me-2">
                                                <span class="fs-bold">Jennifer john</span> 
                                            </div>
                                        </td>
                                        <td>
                                            <span class="fs-bold">Tomorrow</span>
                                        </td>
                                        <td>
                                            <span class="fs-bold">Tomorrow</span>
                                        </td>
                                        <td class="text-end pe-3">
                                            <a class="me-3 text-success" href="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                </svg>
                                            </a> 
                                            <a class="me-3 text-info" href="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                </svg>
                                            </a> 
                                            <a class="text-danger" href="">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                                </svg>
                                            </a> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- End Dashboard -->
