<!-- Start Page Breadcrumb -->
<section class="hj-breadcrumb bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="font-28 font-roboto fw-bold mb-0">Change Password</h3>
      </div>
      <div class="col-md-6">
        <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins"
                routerLink="">Home</a></li>
            <li class="breadcrumb-item mx-2">/</li>
            <li class="breadcrumb-item font-14 font-poppins active" aria-current="page">Change Password</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Page Breadcrumb -->

<!-- Start Contact Form -->
<section class="hj-contact-section my-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">

        <div class="contact-form">
          <h3 class="font-32 dark-text text-center">Change Password</h3>
          <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()" novalidate>

            <label for="username" class="mt-4 mb-2">User Name</label>
            <input formControlName="username" type="text" id="username" class="form-control form-control-lg font-16"
              [ngClass]="{'is-invalid': submitted && forgetForm.controls['username'].hasError }" />
            <div *ngIf="submitted && forgetForm.controls['username'].hasError('required')" class="invalid-feedback">
              User Name is required !
            </div>

            <button class="hj-primary-btn mt-4 me-4 border-0">submit</button>
          </form>

          <div class="mt-4 d-flex justify-content-between">
            <a class="text-decoration-none link-hover dark-text" routerLink="../login">
              Remember me
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Form -->