<!-- Start Page Breadcrumb -->
<section class="hj-breadcrumb bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="font-28 font-roboto fw-bold mb-0">About Us</h3>
      </div>
      <div class="col-md-6">
        <nav class="float-md-end mt-lg-0 mt-2" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none link-hover dark-text font-14 font-poppins"
                routerLink="">Home</a></li>
            <li class="breadcrumb-item mx-2">/</li>
            <li class="breadcrumb-item font-14 font-poppins active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Page Breadcrumb -->

<!-- Start About info -->
<section class="hj-about-info my-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="my-2">
          <img src="assets/img/aboutUs.jpg" class="img-fluid" alt="about us image">
        </div>
      </div>
      <div class="col-md-7 align-items-center">
        <div class="mt-5 me-4">
          <h2 class=" font-32 text-start" style="color: #e79677;">About us ?</h2>
          <p class="py-2 font-poppins font-16 secondary-text">
            At ArtMobilier, we are passionate about transforming spaces into artistic havens. Our curated collection of
            furniture is designed to elevate your interior aesthetic, blending form and function seamlessly. Whether you
            seek modern sophistication or timeless elegance, ArtMobilier offers a diverse range of chairs and sofas that
            embody craftsmanship and style. We take pride in providing a delightful shopping experience, with a
            commitment to quality, unique designs, and customer satisfaction. Welcome to ArtMobilier, where each piece
            tells a story, and your space becomes a canvas for artistic expression
          </p>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About info -->

<!-- Start about feature -->
<section class="hj-contact-info-section bg-light-blue py-5">
  <div class="container">
    <div class="row">
      <div class="pt-5">
        <h2 class="font-roboto font-32 dark-text text-center mb-3">Why choose Us? </h2>
        <p class="font-poppins secondary-text font-16 w-50 mx-auto text-center mb-4">Elevate your home with ArtMobilier
          – where art meets functionality. Discover a curated collection that speaks volumes in craftsmanship and
          elegance. Choose excellence, choose ArtMobilier.</p>
      </div>
    </div>
    <div class="mb-5">
      <div class="row">
        <div class="col-md-4">
          <div class="hj-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
            <div class="mb-3">
              <span class="hj-address-icon rounded-pill primary-text"><i class="bi bi-pencil-square"></i></span>
            </div>
            <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Exceptional Artistry</h3>
            <p class="font-poppins font-16 mb-3 secondary-text">ArtMobilier stands out for its exceptional artistry,
              <br>
              offering a curated collection of chairs and sofas that reflect both contemporary trends and timeless
              elegance. <br> Each piece is meticulously crafted to bring artistic flair and sophistication to your
              living
              space. <br> <br>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hj-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
            <div class="mb-3">
              <span class="hj-address-icon rounded-pill primary-text"><i class="bi bi-stickies"></i></span>
            </div>
            <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Unique Designs</h3>
            <p class="font-poppins font-16 mb-3 secondary-text"> At ArtMobilier, <br> we believe in individuality. Our
              furniture collection features unique designs that cater to diverse tastes and preferences. <br> Whether
              you're
              looking for a statement chair or a cozy sofa, our range of distinct designs allows you to find furniture
              that complements your style and personality.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="hj-address-info-box cursor-pointer card shadow rounded-3 border-0 text-center py-5 mt-2 px-3">
            <div class="mb-3">
              <span class="hj-address-icon rounded-pill primary-text"><i class="bi bi-envelope"></i></span>
            </div>
            <h3 class="font-16 fw-600 font-poppins dark-text text-capitalize">Quality Craftsmanship</h3>
            <p class="font-poppins font-16 mb-3 secondary-text"><br>We take pride in our commitment to quality
              craftsmanship . <br> ArtMobilier's furniture is built with precision and care, using premium materials to
              ensure
              durability and longevity. Our dedication to quality ensures that every piece becomes a lasting investment
              in your home.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact info -->